<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Todo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>


<body>
    <h1>Créer un todo:</h1>
    <a th:href="@{/}">Revenir à la page d'acceuil</a>

    <form th:action="@{/addTodo}"
          th:object="${todoForm}" method="POST">
        Titre:
        <input type="text" th:field="*{title}" />
        <br/>
        Description:
        <input type="text" th:field="*{description}" />
        <br/>
        <input type="submit" value="Créer" />
        <!-- Check if errorMessage is not null and not empty -->
        <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">
        </div>
    </form>
</body>
</html>