<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>List des Todo</h1>
<a th:href="@{/addTodo}">Créer un todo</a>
<a th:href="@{/}">Revenir à la page d'acceuil</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        <tr th:each ="todo : ${todoList}">
            <td th:utext="${todo.title}">...</td>
            <td th:utext="${todo.description}">...</td>
            <td th:utext="${todo.createdAt}">...</td>
        </tr>

    </table>
</div>
</body>
</html>